.list-items {
  display: grid;
  margin: 0px auto;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid;
  width: 100%;
}

.list-items > div {
  border-bottom: 1px solid;
  text-align: left;
}
.list-items-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list-items-heading span {
  border-right: 1px solid;
}
.list-items-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list-items-data span {
  border-right: 1px solid;
}
